<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Code Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/qrpage.css' %}" />
</head>
<body>
    <div class="wrapper">
        {% block content %}
        {% endblock content %}
    </div>
{% block extra_scripts %}
{% endblock extra_scripts %}
<script src="{% static 'js/polling.js' %}"></script>
</body>
</html>